<html>
  <head>
    <title>12306 CAPTCHA Searcher</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/viewer.css" rel="stylesheet">

    <script src="js/jquery-3.1.1.min.js"></script><!-- jQuery is required -->
    <script src="js/viewer.js"></script>
    <script src="js/action_bind.js"></script>
  </head>

<body>
  <div class="container">

  <div class="starter-template">
    <h1>12306 CAPTCHA Searcher</h1>

    <div class="row">
          <div class="col-xs-7 col-md-7">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <label for="max-image-query">Max Image: </label>
                  <input id="max-image-query" type="number" class="form-control" placeholder="Search" value="10"/>
              </div>
            </form>

          </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6 im-gp-1">
        <div class="input-group" >
          <input id="phash1" type="text" class="form-control" placeholder="Input RGB Phash Here" />
          <span class="input-group-btn">
            <button id="search-1" class="btn btn-default" type="button">Search</button>
            <button id="view-gp-1" class="btn btn-default" type="button">View</button>
          </span>
        </div><!-- /input-group -->


        <a id='thumbnail1' href="#" class="thumbnail">
        </a>
      </div>
      <div class="col-xs-6 col-md-6 im-gp-2">
        <div class="input-group">
          <input id="phash2" type="text" class="form-control" placeholder="Input RGB Phash Here">
          <span class="input-group-btn">
            <button id="search-2" class="btn btn-default" type="button">Search</button>
            <button id="view-gp-2" class="btn btn-default" type="button">View</button>
          </span>
        </div><!-- /input-group -->

        <a id='thumbnail2' href="#" class="thumbnail">
        </a>
      </div>

    </div>


  </div>

</div><!-- /.container -->


</body>

</html>
